.App {
    text-align: center;
}
.swFont {
    font-family: 'swFont';
}
.red {
    color: red;
}
.orange {
    color: orange;
}
.background {
    z-index: -5;
}
.episodes-card-text {
    display: -webkit-box;
    height: 194px;
    font-size: medium;
    margin: 0 auto;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
}
.card-border {
    border: 2px solid;
    border-radius: 5px;
    display: inline-block;
}
